.contenedor{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 background-image: url("https://images.vexels.com/media/users/3/348140/isolated/preview/dfdbd9b8f8bdc78244d5959914ffd4bd-bloc-de-notas-con-una-nota.png");
 background-position: center;
 background-repeat: no-repeat;
 background-size: contain;
 
 ;
}